.heading {
  margin: 1.5em 0;
  align-self: center;
  font-size: 3.5rem;
  text-align: center;
}

.form {
  &__box {
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.4s ease;

    &::after {
      content: "";
      display: block;
      height: 0.3em;
      background-color: #ffffff;
      opacity: 0.7;
    }

    &:focus-within::after,
    &:focus-within > .form__label {
      opacity: 1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font: bold 2rem "Source Sans Pro", sans-serif;

    &:focus {
      color: #ffffff;
      font-weight: bold;
      outline: none;
    }
  }

  &__label {
    color: #ffffff;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 0.4s ease;
  }

  &__btn {
    margin: 2em 0;
    background-color: var(--login-cta-color);
  }
}

.extras {
  display: flex;
  margin-top: 2em;
  justify-content: space-between;

  --form-width: 80%;
  --form-max-width: 500px;
  --offset: 1.5em;
  width: calc( var(--form-width) + var(--offset) );
  max-width: calc( var(--form-max-width) + var(--offset) );

  &--center {
    justify-content: center;
  }

  &__btn {
    padding: 1.5em;
    min-width: 0;
    background: none;
  }
}

.text {
  width: 80%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;

  &--error {
    color: var(--error-color);
    z-index: var(--z-index-error);
  }
}

@media (max-height: 570px) {
  .container {
    display: block;
  }

  .extras {
    margin: auto;
  }
}
