:root {
  --primary-color: #7400b8ff;
  --secondary-color: #80ffdbff;
  --error-color: #ef5777;
  --success-color: #1abc9c;
  --text-color: #ffffff;
  --text-dark-color: #000000;

  --gradient: linear-gradient(45deg, #80ffdbb3, #7400b8b3);
  --gradient-solid: linear-gradient(45deg,
      var(--secondary-color),
      var(--primary-color));

  --z-index-btn-menu: 1000;
  --z-index-menu: 100;
  --z-index-error: -5;

  --login-cta-color: #31605bff;
  --login-bg-gradient: linear-gradient(#00000099, #00000099);
  --login-bg-small: url("../public/img/login-bg-small.jpg");
  --login-bg-big: url("../public/img/login-bg-big.jpg");

  --header-bg-small: url("../public/img/header-small.jpg");
  --header-bg-big: url("../public/img/header-big.jpg");
}
