//imports
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

//colors
:root {
  --primary: #2a9d8f; //#3e1e68;
  --secondary: #e9c46a; //#f4f1fe;
  --cta-color: #e76f51;
  --bg: #3d405b; //#264653;
  --error: #ef5777;
  --success: #1abc9c;
  --shadow: #34495e;
  --text-color: white;
}

//resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}

//global
[v-cloak] {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1em 1.5em;
  min-width: 150px;
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

//login view
.title {
  margin: 1.5em 0;
  align-self: center;
  font-size: 3.5rem;
  text-align: center;
}

.form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;

  &__box {
    margin-bottom: 2em;

    &::after {
      content: "";
      display: block;
      height: 0.3em;
      background-color: white;
      opacity: 0.7;
      transition: opacity 0.4s ease;
    }

    &:focus-within::after,
    &:focus-within > .form__label {
      opacity: 1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;

    &:focus {
      color: white;
      font-weight: bold;
    }
  }

  &__label {
    color: white;
    //font-size: 1.6rem;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 0.4s ease;
  }

  &__btn {
    margin: 2em 0;
  }
}

.extras {
  display: flex;
  width: calc(80% + 4em);
  margin-top: 2em;
  justify-content: space-between;

  &--center {
    justify-content: center;
  }

  &__link {
    padding: 1.5em;
    //font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .form {
    max-width: 500px;
  }

  .extras {
    max-width: calc(500px + 4em);
  }
}

//animations
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//mixins
