//imports
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
//@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

// VARIABLES =========================================
:root {
  --primary: #2a9d8f; //#3e1e68;
  --secondary: #e9c46a; //#f4f1fe;
  --cta-color: #e76f51;
  --bg: #3d405b; //#264653;
  --error: #ef5777;
  --success: #1abc9c;
  --shadow: #34495e;
  --text-color: white;

  --gradient-color-first: rgba(128, 255, 219, 0.7);
  --gradient-color-second: rgba(116, 0, 184, 0.7);

  --gradient: linear-gradient(45deg, rgba(128, 255, 219, 0.7), rgba(116, 0, 184, 0.7));
  --gradient-solid: linear-gradient(45deg, rgb(128, 255, 219), rgb(116, 0, 184));
  --gradient-dark: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(77, 201, 185, 0.7));
}

// RESETS =========================================
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}

// GLOBAL =========================================
[v-cloak] {
  display: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.btn {
  padding: 1em 1.5em;
  min-width: 150px;
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

// LOGIN VIEW =========================================
.heading {
  margin: 1.5em 0;
  align-self: center;
  font-size: 3.5rem;
  text-align: center;
}

.form {
  display: flex;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;

  &__box {
    margin-bottom: 2em;

    &::after {
      content: "";
      display: block;
      height: 0.3em;
      background-color: white;
      opacity: 0.7;
      transition: opacity 0.4s ease;
    }

    &:focus-within::after,
    &:focus-within > .form__label {
      opacity: 1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;

    &:focus {
      color: white;
      font-weight: bold;
    }
  }

  &__label {
    color: white;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 0.4s ease;
  }

  &__btn {
    margin: 2em 0;
  }
}

.extras {
  display: flex;
  width: calc(80% + 1.5em);
  max-width: calc(500px + 1.5em);
  margin-top: 2em;
  justify-content: space-between;

  &--center {
    justify-content: center;
  }

  &__btn {
    padding: 1.5em;
    min-width: 0;
    background: none;
  }
}

.text {
  width: 80%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;

  &--error {
    color: var(--error);
  }
}

@media (max-height: 500px) {
  .container {
    display: block;
  }

  .extras {
    margin: auto;
  }
}

// ANIMATIONS =========================================
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
