//imports
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

//colors
//$primary: #3EC761;
$primary: #3e1e68;
$secondary: #681e61;
$error: #ef5777;
$success: #1abc9c;
$shadow: #34495E;

//resets
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	line-height: 2.1rem;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	line-height: 1.3125rem;
	margin: auto;
}

h1 {
	font-size: 2.8125rem;
	line-height: 3.9375rem;
	margin-top: 1.3125rem;
	margin-bottom: 2.625rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.625rem;
	margin-top: 1.3125rem;
	margin-bottom: 1.3125rem;
}

h3 {
	font-size: 1.4375rem;
	line-height: 2.625rem;
	margin-top: 1.3125rem;
	margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
	margin-top: 0rem;
	margin-bottom: 1.3125rem;
}

ul ul, ol ol, ul ol, ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: lighten($primary, 10%);
	}
}

//globals
section {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.col1,
.col2 {
	flex-grow: 1;
	flex-basis: 0;
	padding: 1rem;
}

.button {
	background: $primary;
	color: white;
	outline: none;
	appearance: none;
	cursor: pointer;
	border: 0;
	border-radius: 3px;
	min-width: 150px;
	font-size: 1rem;
	padding: 0.8rem 1rem;

	&:hover {
		background: lighten($primary, 10%);
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background: $primary;
		}
	}
}

form {
	input {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 1rem;
		padding: 10px;
		outline: 0;
		border: 1px solid #e6ecf0;
		border-radius: 3px;

		&:focus {
			box-shadow: 0 0 5px 0 rgba($shadow, 0.2);
		}
	}
}

.inline {
	margin: 0;
	list-style: none;

	li {
	  display: inline-block;
	}
  }

.error-msg {
	margin-top: 1rem;
	text-align: center;

	p {
		color: $error;
	}
}

[v-cloak] {
	display: none;
}

table,
td,
th {
  min-width: 200px;
  border: 2px solid $primary;
  border-collapse: collapse;
  padding: 10px;
}
