//imports
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

//colors
:root {
  --primary: #2a9d8f; //#3e1e68;
  --secondary: #e9c46a; //#f4f1fe;
  --cta-color: #e76f51;
  --bg: #3d405b; //#264653;
  --error: #ef5777;
  --success: #1abc9c;
  --shadow: #34495e;
}

//resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

//global
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 1em 1.5em;
  min-width: 150px;
  background: var(--primary);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: inherit;
}

//login view
.title {
  margin-top: 1.5em;
  align-self: center;
  font-size: 3.5rem;
  text-align: center;
}

.form {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;

  &__box {
    margin-bottom: 2em;

    &::after {
      content: "";
      display: block;
      height: 0.3em;
      background-color: white;
      opacity: 0.7;
      transition: opacity 0.4s ease;
    }

    &:focus-within::after,
    &:focus-within > .form__label {
      opacity: 1;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;

    &:focus {
      color: white;
      font-weight: bold;
      outline: 1px solid royalblue;
    }
  }

  &__label {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0.7;
    transition: opacity 0.4s ease;
  }

  &__btn {
    margin-top: 2em;
  }
}

.extras {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;

  &--center {
    justify-content: center;
  }

  &__link {
    padding: 1.5em;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 5rem;
  }

  .form {
    &__box::after {
      height: 0.2em;
    }

    &__input {
      font-size: 3.5rem;
    }

    &__box,
    &__label,
    &__btn {
      font-size: 2.5rem;
    }
  }

  .extras__link {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 7rem;
  }

  .form {
    &__input {
      font-size: 4.5rem;
    }

    &__box,
    &__label,
    &__btn {
      font-size: 3.5rem;
    }
  }

  .extras__link {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {

  .form {
    max-width: 1200px;
  }
}

//animations
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// a {
// 	cursor: pointer;
// 	text-decoration: none;
// 	color: $primary;

// 	&:hover {
// 		color: lighten($primary, 15%);
// 	}
// }

// //globals
// section {
// 	display: flex;
// 	max-width: 1200px;
// 	margin: 0 auto;
// }

// .col1,
// .col2 {
// 	flex-grow: 1;
// 	flex-basis: 0;
// 	padding: 1rem;
// }

// .button {
// 	background: $primary;
// 	color: white;
// 	outline: none;
// 	appearance: none;
// 	cursor: pointer;
// 	border: 0;
// 	border-radius: 3px;
// 	min-width: 150px;
// 	font-size: 1rem;
// 	font-weight: bold;
// 	padding: 0.8rem 1rem;

// 	&:hover {
// 		background: lighten($primary, 5%);
// 	}

// 	&:disabled {
// 		opacity: 0.5;

// 		&:hover {
// 			background: $primary;
// 		}
// 	}
// }

// form {
// 	input {
// 		display: block;
// 		width: 100%;
// 		margin-bottom: 1rem;
// 		font-size: 1rem;
// 		padding: 10px;
// 		outline: 0;
// 		border: 1px solid #e6ecf0;
// 		border-radius: 3px;
// 		font-weight: bold;

// 		&:focus {
// 			box-shadow: 0 0 5px 0 rgba($shadow, 0.2);
// 		}
// 	}
// }

// .inline {
// 	margin: 0;
// 	list-style: none;

// 	li {
// 	  display: inline-block;
// 	}
//   }

// .error-msg {
// 	margin-top: 1rem;
// 	text-align: center;

// 	p {
// 		color: $error;
// 	}
// }

// [v-cloak] {
// 	display: none;
// }

// table,
// td,
// th {
//   min-width: 200px;
//   border: 2px solid $primary;
//   border-collapse: collapse;
//   padding: 10px;
// }
